@font-face {
    font-family: 'MTG';
    src: url('../fonts/MPlantin_chat_symbols.ttf');
}

@media print {
    #explainer {
        display: none !important;
    }
    #cards {
        display: block !important;
    }
}

#cards {
    display: flex;
    flex-flow: row wrap;
    gap: 1mm;
}

.card {
    border: 2px solid black;
    display: inline-flex;
    flex-flow: column nowrap;
}

.card.card-mini {
    width: 41mm;
    height: 63mm;
}

.card.card-mini > * {
    padding: .75mm;
}

.card header {
    border-bottom: 1px solid black;
}

.card.card-mini .color {
    font-size: 10mm;
}

.card .color {
    border-bottom: 1px solid black;
    font-family: 'MTG';
    flex-basis: 25%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    text-shadow: 1px 1px 1px black;
}

.card .supertype {
    font-size: small;
}

.card .type {
    font-size: small;
}

.card .text {
    border-top: 1px solid black;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-family: 'MTG';
}

.card footer {
    border-top: 1px solid black;
    text-align: end;
}

.card footer:empty {
    display: none;
}
