@font-face {
    font-family: 'MTG';
    src: url('../fonts/MPlantin_chat_symbols.ttf');
}

.hidden { 
	display: none;
}

.container {
	display: grid;
	grid-template-areas: "editor editor explainer";
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
}

.editor {
	grid-area: editor;
}

.explainer {
	grid-area: explainer;
}

#legend {
	border: 1px solid black;
	border-collapse: collapse;
	min-width: 100px;
}

#legend td, #legend th {
	border: 1px solid black;
	text-align: center;
	padding: 2px;
}

#legend .result {
	font-family: 'MTG';
}